    <header>
      <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a routerLink="/" routerLinkActive="active" 
														[routerLinkActiveOptions]="{ exact: true}"
					class="navbar-brand">gerry's ng2-routing</a>
        </div>

        <ul class="nav navbar-nav">
					<li><a routerLink="/" [routerLinkActiveOptions]="{ exact: true}" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/about" routerLinkActive="active">About</a></li>
          <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        </ul>
      </div>
      </nav>
    </header>
<!--
    <div class="jumbotron text-center">
      <h1>The App Lives!</h1>
      <p>{{ message }}</p>
    </div>
-->
    <main>
    <router-outlet></router-outlet>
    </main>

